<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
    const firebaseConfig = {
      apiKey: "AIzaSyCRs1Un1EmhafST3SQWw-kLphgMYv8M7sY",
      authDomain: "proyecto-argprograma.firebaseapp.com",
      projectId: "proyecto-argprograma",
      storageBucket: "proyecto-argprograma.appspot.com",
      messagingSenderId: "809759135089",
      appId: "1:809759135089:web:bdf630aa91bd81516f92d0"
    };
    const app = initializeApp(firebaseConfig);
  </script>


  <h1>Hola</h1>
  <h2>Adios</h2>
</body>
</html>
